    <% include ./partials/header %>

    <title><%= data.page.title %></title>
    <meta name="description" content="<%= data.page.description %>">
    <meta name="keywords" content="<%= data.page.keywords %>">
</head>

<body id="fouc" class="body app js--show-nav">
    <% include ./partials/warnings %>
    <% include ./partials/nav %>
    <main>
        <header id="header" class="header">
            <div id="header__hero" class="header__hero header__hero--other contentEditable" style="background-image: url('<%= data.page.content.header.backgroundImage %>')">
                <div class="header__overlay">
                    <div class="header__text">
                        <h1 id="headerTitle" class="header__title__other contentEditable"><%= data.page.content.headerTitle.text %></h1>
                        <h2 id="headerSubtitle" class="header__subtitle__other contentEditable"><%= data.page.content.headerSubtitle.text %></h2>
                    </div>
                </div>
            </div>
        </header>

        <section id="start" class="section__benefits">
            <div class="benefit u-container--small">
                <img class="benefit__image" src="/resources/img/benefits/fast.jpg"></img>
                <div class="benefit__textbox">
                    <div class="benefit__title"></div>
                    <div class="benefit__text">

                    </div>
                </div>
            </div>
            <div class="benefit u-container--small">
                <div class="benefit__textbox">
                    <div class="benefit__title"></div>
                    <div class="benefit__text">
                    </div>
                </div>
                <img class="benefit__image" src="/resources/img/benefits/risk.jpg"></img>
            </div>
            <div class="benefit u-container--small">
                    <img class="benefit__image" src="/resources/img/benefits/eco.jpg"></img>
                    <div class="benefit__textbox">
                        <div class="benefit__title"></div>
                        <div class="benefit__text">

                        </div>
                    </div>
                </div>
        </section>
    </main>
    <% include ./partials/footer %>
</body>

<% include ./partials/scriptsFooter %>